.light {
    color: white;
  

}
.bg-light {
    background-color: rgba(128, 128, 128, 0.568);
}
.info {
    color: gray;
    font-size: 80px;
    margin-left: 30.6rem;
}
.inf{
    color: gray;
    font-size: 20px;
    margin-top: -90px;

}
